    
    <p>本css模板在IE6、 IE7、Firefox2.0、 opera9.0下调试。</p>
    <p>本css模板在IE6、 IE7、Firefox2.0、 opera9.0下调试。</p>
    <p>本css模板在IE6、 IE7、Firefox2.0、 opera9.0下调试。</p>
	<p>如果你想要三列等高的话，可参阅<a href="http://www.forest53.com/tutorials/tutorials_show.asp?sortid=1&amp;id=45">这篇文章</a>。</p>
