Dear,<%= @username %>,
 
谢谢您的注册，您的账号尚未激活，请访问如下的地址以激活您的账号，谢谢～
http://www.byeloo.cn/index/confirm_email/<%= @hash %>

----
Thank you for registering with our website. To confirm your email address,
please visit the following address:
 
http://www.byeloo.cn/confirm_email/<%= @hash %>
 
- From ByeLoo!(http://www.byeloo.cn)