

    <%=render :partial=>"users",:object=>@users%>
         <div style="">
         <span class=”pagelink”>
         <%= link_to '上一页', { :page => @user_pages.current.previous },{:class=>"button"} if @user_pages.current.previous %>
         <%= pagination_links(@user_pages,{},{:class=>"button"})%> 
         <%= link_to '下一页', { :page => @user_pages.current.next },{:class=>"button"} if @user_pages.current.next %>
         </span>
         </div>		






